@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Ubuntu:wght@500;700&display=swap');
$principal: #181818;
$secundario: #f1c40c;
$gold1: #f4bd76;
$gold2: #f6cd8f;
$general: #efefef;
$padding: 10px 15px;
$color_shadow: #000;
$gray: #c0c0c0;
$font-family-title: 'Ubuntu', sans-serif;
$font-family-body: 'Encode Sans', sans-serif;
//estilos basicos

.container{
    width: 80%;
    max-width: 1092px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
body{
    font-family: $font-family-body;
}
//header

.hero{
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../img/banner.png);
    background-position: center center;
    background-size: cover;
    .nav__hero{
        height: 4.37em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .nav__bar{
            display: none;
            color: $gold2;
        }
    }
    .nav__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        height: inherit;
    }
    .logo__name{
        font-size: 1.5em;
        color: $gold2;
        font-family: $font-family-title;
    }
    .menu__links{
        display: inline-block;
        text-decoration: none;
        color: $general;
        font-weight: 300;
        padding: $padding;
        &:hover{
            color: $gold2;
        }
    }
    .menu--active{
        color: $gold2;
        font-weight: 700;
    }
    .hero__main{
        .title {
            font-size: 1.87em;
            font-family: $font-family-title;
            color: $gold2;
        }   
        .paragraph {
            font-size: 1em;
            line-height: 1.25em;
            max-width: 50%;
            margin-bottom: 1.25em;
            color: $general;
        }
        .cta{
            padding: $padding;
            background-color: $gray;
            color: $general;
            border: none;
            border-radius: 0 10px;
            cursor: pointer;
            transition: .3s ease all;
            font-size: 1.12em;
            &:hover{
                background-color: $gold2;
                color: #2d2d30;
            }
        }
        [class^="fas fa"]{
            margin-right: 0.62em;
        }
    }
}
//cards
.services{
    background-color: $principal;
    font-size: 16px;
    .subtitle{
        color: $gold2;
        font-size: 1.87em;
    }
    .container--modifire{
        text-align: center;
        margin-bottom: 16px;
    }
    .container-cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        font-size: 16px;
    }
    .card{
        width: 20%;
        padding: 0.62em 0.93em;
        overflow: hidden;
        background: linear-gradient(180deg, #000 0%, #181818 100%);
        border-radius: 0.62em;
        margin-bottom: 60px;
        box-shadow: 0 0 6px $color_shadow;
        color: $general;
    }
    .card__img{
        text-align: center;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    .card__text{
        text-align: left;
        width: 95%;
        margin-left: auto;
        margin-right: 25px;
    }
    .card__list{
    
        font-weight: 300;
        margin: 25px 0 12px;
        font-size: 16px;
    }
    .card__title{
        color: $gold2;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .cta_enviar{
        background-color: $gold2;
        border: none;
        border-radius: 0 10px;
        width: 100%;
        cursor: pointer;
        padding: $padding;
        &:hover{
            transform: scale(0.95);
            transition: 0.3s ease all;
        }
    }
}

//footer

.footer{
    display: flex;
    height: 100px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: $principal;
    .social-media{
        text-align: center;
    }
    .items__footer{
        text-decoration: none;
        color: $gold2;
        padding: $padding;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .copy{
        text-align: center;
        margin: 10px 10px;
    }
    .copy__footer{
        color: $gold2;
    }
}

//responsive

@media screen and (max-width: 480px){
    .container{
        width: 97%;
    }
    .hero{
        background: $principal;
        .nav__hero{
            .nav__bar{
                display: block;
                font-size: 20px;
            }
        }
        .menu{
            position: absolute;
            background-color: $principal;
            left: 0;
            top: 80px;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            flex-direction: column;
            transform: translateX(-100%);
            transition: all 0.5s ease;
        }
        .mostrar{
            transform: translate(0%);
        }
        
        .hero__main{ 
            .paragraph {
                max-width: 100%;
            }
            .cta{
                background: $gold2;
                color: $principal;
            }
        }
    }
    .services{
        .card{
            width: 100%;
        }
    }   
}

@media screen and (max-width: 1024px){
    .container{
        width: 80%;
    }
    .hero{
        background: $principal;
        .nav__hero{
            .nav__bar{
                display: block;
                font-size: 20px;
            }
        }
        .menu{
            position: absolute;
            background-color: $principal;
            left: 0;
            top: 80px;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            flex-direction: column;
            transform: translateX(-100%);
            transition: all 0.5s ease;
        }
        .mostrar{
            transform: translate(0%);
        }
        
        .hero__main{ 
            .paragraph {
                max-width: 100%;
            }
            .cta{
                background: $gold2;
                color: $principal;
            }
        }
    }
    .services{
        .card{
            width: 100%;
        }
    }   
}